# Notebook for Scraping Twitter Using snscrape's Python Wrapper

In [1]:
# Run the pip install command below if you don't already have the library
#! pip install git+https://github.com/JustAnotherArchivist/snscrape.git
#! pip3 install snscrape
# Run the below command if you don't already have Pandas
# !pip install pandas

In [2]:
from ekphrasis.classes.segmenter import Segmenter

In [3]:
# Imports
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import datetime as dt
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import emoji
import nltk
import preprocessor as p
import datetime as dt

In [4]:
#important libraries for preprocessing using NLTK
from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.tokenize import TweetTokenizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Munangiwa\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Munangiwa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Query by Username
The code below will scrape for 100 tweets by a username then provide a CSV file with Pandas

In [5]:
# Setting variables to be used below
#maxTweets = 500000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
#for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:DataScienceDojo since:2021-01-01 until:2022-04-19').get_items()):
   # if i>maxTweets:
       # break
    #tweets_list1.append([ tweet.user.username,tweet.date, tweet.id, tweet.content,tweet.likeCount,
                         #tweet.media, tweet.source,tweet.replyCount,tweet.retweetCount,tweet.user.followersCount])

In [6]:
users_name = ['DataScienceDojo', 'coursera','getsmarter','HypDev','simplilearn','udacity','ZindiAfrica','NYCDataSci','I_T_Academy','2Uinc']
for n, k in enumerate(users_name):
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:{} since:2021-01-01'.format(users_name[n])).get_items()):
        if i>50000:
            break
        tweets_list1.append([ tweet.user.username,tweet.date, tweet.id, tweet.content,tweet.likeCount,
                         tweet.media, tweet.source,tweet.coordinates, tweet.place,tweet.replyCount,tweet.retweetCount,tweet.user.followersCount])
        
        
        
        
        
   # tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.url,\
                       #  tweet.user.username, tweet.user.followersCount,tweet.replyCount,\
                       # tweet.retweetCount, tweet.likeCount, tweet.quoteCount, tweet.lang,\
                       # tweet.outlinks, tweet.media, tweet.retweetedTweet, tweet.quotedTweet,\
                        #tweet.inReplyToTweetId, tweet.inReplyToUser, tweet.mentionedUsers,\
                        # tweet.coordinates, tweet.place, tweet.hashtags, tweet.cashtags])

In [7]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Username','Datetime', 'Tweet Id', 'Text','likeCount',
                                                 'Media','Source','Coordinates','Place','ReplyCount','RetweetCount','FollowersCount'])

# Display first 5 entries from dataframe
tweets_df1.head(5)

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,üí°Here is how you can build hybrid models with ...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,Choosing A Cost Effective Cloud Architecture. ...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,"‚ùóOn may 4th, we provide an introduction to Nai...",5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,üìçGet the added benefit of upskilling with the ...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,A journey towards decentralization and Data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915

In [8]:
df_all_rows = tweets_df1

In [9]:
tweets_df1.head()

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,üí°Here is how you can build hybrid models with ...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,Choosing A Cost Effective Cloud Architecture. ...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,"‚ùóOn may 4th, we provide an introduction to Nai...",5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,üìçGet the added benefit of upskilling with the ...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,A journey towards decentralization and Data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915

In [10]:
df_all_rows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Username        13753 non-null  object
 1   Datetime        13753 non-null  datetime64[ns, UTC]
 2   Tweet Id        13753 non-null  int64
 3   Text            13753 non-null  object
 4   likeCount       13753 non-null  int64
 5   Media           5002 non-null   object
 6   Source          13753 non-null  object
 7   Coordinates     1 non-null      object
 8   Place           1 non-null      object
 9   ReplyCount      13753 non-null  int64
 10  RetweetCount    13753 non-null  int64
 11  FollowersCount  13753 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 1.3+ MB

## Text Preprocessing

In [11]:
#List of all hashtags added to a new column as a new feature ‚Äòhashtag‚Äô
df_all_rows['hashtag'] = df_all_rows['Text'].apply(lambda x: re.findall(r"#(\w+)", x))

In [12]:
df_all_rows.head()

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount,hashtag
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,üí°Here is how you can build hybrid models with ...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[Python, TensorFlow, RecommemdationSystem]"
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,Choosing A Cost Effective Cloud Architecture. ...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,"‚ùóOn may 4th, we provide an introduction to Nai...",5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,üìçGet the added benefit of upskilling with the ...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915,"[Programming, Bootcamp, Python, DataScience]"
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,A journey towards decentralization and Data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]

#### Cleaning is done using tweet-preprocessor package

In [13]:
#Cleaning using tweet-preprocessor
def preprocess_tweet(row):
    Text = row['Text']
    Text = p.clean(Text)
    return Text

In [14]:
df_all_rows['Text'] = df_all_rows.apply(preprocess_tweet, axis=1)

# Removing Digits and lower the text (makes it easy to deal with)
df_all_rows['Text'] = df_all_rows['Text'].astype(str).str.replace('\d+', '')
lower_text = df_all_rows['Text'] .str.lower()

# Remove extra white spaces, punctuation and apply lower casing
df_all_rows['Text'] = df_all_rows['Text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [15]:
df_all_rows.head()

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount,hashtag
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,here is how you can build hybrid models with p...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[Python, TensorFlow, RecommemdationSystem]"
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,choosing a cost effective cloud architecture g...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,on may th we provide an introduction to naive ...,5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,get the added benefit of upskilling with the f...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915,"[Programming, Bootcamp, Python, DataScience]"
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,a journey towards decentralization and data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[]

In [16]:
df_all_rows['Text']

0        here is how you can build hybrid models with p...
1        choosing a cost effective cloud architecture g...
2        on may th we provide an introduction to naive ...
3        get the added benefit of upskilling with the f...
4        a journey towards decentralization and data me...
                               ...
13748    be bold and fearlessthis is one of the guiding...
13749    since partnering with u weve been introduced t...
13750    find out how five entrepreneurs used u powered...
13751    were thankful to partner with to help underrep...
13752    when it comes to the future of online ed our c...
Name: Text, Length: 13753, dtype: object

In [17]:
# Converting the time from object type to datetime
df_all_rows['Datetime'] = pd.to_datetime(df_all_rows['Datetime'])

In [18]:
df_all_rows.head(1)

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount,hashtag
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,here is how you can build hybrid models with p...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[Python, TensorFlow, RecommemdationSystem]"

In [19]:
df_all_rows.Datetime

0       2022-04-22 02:06:02+00:00
1       2022-04-22 01:30:00+00:00
2       2022-04-22 00:36:01+00:00
3       2022-04-21 23:06:01+00:00
4       2022-04-21 22:30:00+00:00
                   ...
13748   2021-01-06 13:14:01+00:00
13749   2021-01-05 21:00:26+00:00
13750   2021-01-05 17:53:01+00:00
13751   2021-01-04 22:54:01+00:00
13752   2021-01-04 20:18:10+00:00
Name: Datetime, Length: 13753, dtype: datetime64[ns, UTC]

In [20]:
df_all_rows['date'] = pd.to_datetime(df_all_rows['Datetime']).dt.date
#df_all_rows['time'] = pd.to_datetime(df_all_rows['Datetime']).dt.time
df_all_rows['hour']=pd.DatetimeIndex(df_all_rows.Datetime).hour

In [21]:
df_all_rows.head()

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount,hashtag,date,hour
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,here is how you can build hybrid models with p...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[Python, TensorFlow, RecommemdationSystem]",2022-04-22,2
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,choosing a cost effective cloud architecture g...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-22,1
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,on may th we provide an introduction to naive ...,5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-22,0
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,get the added benefit of upskilling with the f...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915,"[Programming, Bootcamp, Python, DataScience]",2022-04-21,23
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,a journey towards decentralization and data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-21,22

In [22]:
df_all_rows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Username        13753 non-null  object
 1   Datetime        13753 non-null  datetime64[ns, UTC]
 2   Tweet Id        13753 non-null  int64
 3   Text            13753 non-null  object
 4   likeCount       13753 non-null  int64
 5   Media           5002 non-null   object
 6   Source          13753 non-null  object
 7   Coordinates     1 non-null      object
 8   Place           1 non-null      object
 9   ReplyCount      13753 non-null  int64
 10  RetweetCount    13753 non-null  int64
 11  FollowersCount  13753 non-null  int64
 12  hashtag         13753 non-null  object
 13  date            13753 non-null  object
 14  hour            13753 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(6), object(8)
memory usage: 1.6+ MB

In [23]:
# Adding week days 

df_all_rows['weekday'] = df_all_rows['Datetime'].apply(lambda x: dt.datetime.strftime(x, '%A'))

In [24]:
df_all_rows.head(100)

,Username,Datetime,Tweet Id,Text,likeCount,Media,Source,Coordinates,Place,ReplyCount,RetweetCount,FollowersCount,hashtag,date,hour,weekday
0,DataScienceDojo,2022-04-22 02:06:02+00:00,1517323813679210499,here is how you can build hybrid models with p...,11,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[Python, TensorFlow, RecommemdationSystem]",2022-04-22,2,Friday
1,DataScienceDojo,2022-04-22 01:30:00+00:00,1517314745854013442,choosing a cost effective cloud architecture g...,0,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-22,1,Friday
2,DataScienceDojo,2022-04-22 00:36:01+00:00,1517301160339722240,on may th we provide an introduction to naive ...,5,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-22,0,Friday
3,DataScienceDojo,2022-04-21 23:06:01+00:00,1517278513203666949,get the added benefit of upskilling with the f...,3,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915,"[Programming, Bootcamp, Python, DataScience]",2022-04-21,23,Thursday
4,DataScienceDojo,2022-04-21 22:30:00+00:00,1517269446796226560,a journey towards decentralization and data me...,4,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,0,49915,[],2022-04-21,22,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,DataScienceDojo,2022-04-17 18:07:59+00:00,1515753958089936897,want to get started with job hunting then tuto...,6,None,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,2,49915,"[JobHunting, DataScience, DSDojo]",2022-04-17,18,Sunday
96,DataScienceDojo,2022-04-17 14:08:00+00:00,1515693565116100611,we are hosting a live information session on a...,7,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,12,49915,"[DataScience, Python, DSDojo]",2022-04-17,14,Sunday
97,DataScienceDojo,2022-04-17 02:03:01+00:00,1515511115639410689,are you open to work do you have an understand...,18,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,7,49915,[],2022-04-17,2,Sunday
98,DataScienceDojo,2022-04-17 00:33:02+00:00,1515488469795155972,want to get started with naive bayes classific...,19,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,0,10,49915,"[NaiveBayes, ML, DSDojo]",2022-04-17,0,Sunday
99,DataScienceDojo,2022-04-16 23:03:00+00:00,1515465812160692226,a glimpse of what a data analyst does source,1404,[Photo(previewUrl='https://pbs.twimg.com/media...,"<a href=""http://www.hubspot.com/"" rel=""nofollo...",None,None,10,364,49915,"[DataAnalyst, Overview, DataScience]",2022-04-16,23,Saturday

In [25]:
# dropping unwated columns

df_all_rows = df_all_rows.drop(['Datetime','Text','Source','hashtag','Tweet Id','Place','Coordinates'], axis=1)

In [26]:
df_all_rows.head(200)

,Username,likeCount,Media,ReplyCount,RetweetCount,FollowersCount,date,hour,weekday
0,DataScienceDojo,11,[Photo(previewUrl='https://pbs.twimg.com/media...,0,12,49915,2022-04-22,2,Friday
1,DataScienceDojo,0,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,1,Friday
2,DataScienceDojo,5,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,0,Friday
3,DataScienceDojo,3,[Photo(previewUrl='https://pbs.twimg.com/media...,0,2,49915,2022-04-21,23,Thursday
4,DataScienceDojo,4,None,0,0,49915,2022-04-21,22,Thursday
...,...,...,...,...,...,...,...,...,...
195,DataScienceDojo,0,None,0,0,49915,2022-04-12,16,Tuesday
196,DataScienceDojo,0,None,0,0,49915,2022-04-12,16,Tuesday
197,DataScienceDojo,1,None,0,0,49915,2022-04-12,16,Tuesday
198,DataScienceDojo,22,None,18,6,49915,2022-04-12,16,Tuesday
199,DataScienceDojo,2,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-12,15,Tuesday

In [27]:
df = df_all_rows.copy()
df.fillna(value=pd.np.nan, inplace=True)
df.head(200)

<ipython-input-27-193399b4dcc4>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df.fillna(value=pd.np.nan, inplace=True)

,Username,likeCount,Media,ReplyCount,RetweetCount,FollowersCount,date,hour,weekday
0,DataScienceDojo,11,[Photo(previewUrl='https://pbs.twimg.com/media...,0,12,49915,2022-04-22,2,Friday
1,DataScienceDojo,0,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,1,Friday
2,DataScienceDojo,5,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,0,Friday
3,DataScienceDojo,3,[Photo(previewUrl='https://pbs.twimg.com/media...,0,2,49915,2022-04-21,23,Thursday
4,DataScienceDojo,4,NaN,0,0,49915,2022-04-21,22,Thursday
...,...,...,...,...,...,...,...,...,...
195,DataScienceDojo,0,NaN,0,0,49915,2022-04-12,16,Tuesday
196,DataScienceDojo,0,NaN,0,0,49915,2022-04-12,16,Tuesday
197,DataScienceDojo,1,NaN,0,0,49915,2022-04-12,16,Tuesday
198,DataScienceDojo,22,NaN,18,6,49915,2022-04-12,16,Tuesday
199,DataScienceDojo,2,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-12,15,Tuesday

In [28]:
df.fillna('Tweet', inplace=True)
df.head(200)

,Username,likeCount,Media,ReplyCount,RetweetCount,FollowersCount,date,hour,weekday
0,DataScienceDojo,11,[Photo(previewUrl='https://pbs.twimg.com/media...,0,12,49915,2022-04-22,2,Friday
1,DataScienceDojo,0,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,1,Friday
2,DataScienceDojo,5,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-22,0,Friday
3,DataScienceDojo,3,[Photo(previewUrl='https://pbs.twimg.com/media...,0,2,49915,2022-04-21,23,Thursday
4,DataScienceDojo,4,Tweet,0,0,49915,2022-04-21,22,Thursday
...,...,...,...,...,...,...,...,...,...
195,DataScienceDojo,0,Tweet,0,0,49915,2022-04-12,16,Tuesday
196,DataScienceDojo,0,Tweet,0,0,49915,2022-04-12,16,Tuesday
197,DataScienceDojo,1,Tweet,0,0,49915,2022-04-12,16,Tuesday
198,DataScienceDojo,22,Tweet,18,6,49915,2022-04-12,16,Tuesday
199,DataScienceDojo,2,[Photo(previewUrl='https://pbs.twimg.com/media...,0,0,49915,2022-04-12,15,Tuesday

In [29]:
#df_all_rows.fillna('Tweet', inplace=True)

In [30]:
#regex = re.compile('[^a-zA-Z]')
#First parameter is the replacement, second parameter is your input string
#regex.sub('', ' '.join(map(str,df['Media'])))]
#Out: 'abdE'

In [31]:
#df3.loc[:,'media'] = [media(x) for x in df.Media]
#df3
df.Media = df.Media.astype('string')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Username        13753 non-null  object
 1   likeCount       13753 non-null  int64
 2   Media           13753 non-null  string
 3   ReplyCount      13753 non-null  int64
 4   RetweetCount    13753 non-null  int64
 5   FollowersCount  13753 non-null  int64
 6   date            13753 non-null  object
 7   hour            13753 non-null  int64
 8   weekday         13753 non-null  object
dtypes: int64(5), object(3), string(1)
memory usage: 967.1+ KB

In [33]:
#Changing naming

df.loc[df['Media'].str.contains('Photo'), 'Media'] = 'Tweet_Photo'
df.loc[ df['Media'].str.contains('Vid'), 'Media'] = 'Tweet_Video'
df.loc[ df['Media'].str.contains('Git'), 'Media'] = 'Tweet_GitHub'
df.loc[ df['Media'].str.contains('Gif'), 'Media'] = 'Tweet_Gif'

In [34]:
df.head(200)

,Username,likeCount,Media,ReplyCount,RetweetCount,FollowersCount,date,hour,weekday
0,DataScienceDojo,11,Tweet_Photo,0,12,49915,2022-04-22,2,Friday
1,DataScienceDojo,0,Tweet_Photo,0,0,49915,2022-04-22,1,Friday
2,DataScienceDojo,5,Tweet_Photo,0,0,49915,2022-04-22,0,Friday
3,DataScienceDojo,3,Tweet_Photo,0,2,49915,2022-04-21,23,Thursday
4,DataScienceDojo,4,Tweet,0,0,49915,2022-04-21,22,Thursday
...,...,...,...,...,...,...,...,...,...
195,DataScienceDojo,0,Tweet,0,0,49915,2022-04-12,16,Tuesday
196,DataScienceDojo,0,Tweet,0,0,49915,2022-04-12,16,Tuesday
197,DataScienceDojo,1,Tweet,0,0,49915,2022-04-12,16,Tuesday
198,DataScienceDojo,22,Tweet,18,6,49915,2022-04-12,16,Tuesday
199,DataScienceDojo,2,Tweet_Photo,0,0,49915,2022-04-12,15,Tuesday

In [35]:
#convert date to datetime

df['date'] = pd.to_datetime(df['date'])

In [36]:
#South Africa is 2 hours ahead of Coordinated Universal Time

df['hour_con'] = 2
df['Hour_SAST'] = df['hour'] + df['hour_con']
df = df.drop(['hour','hour_con'], axis=1)

In [37]:
df.head()

,Username,likeCount,Media,ReplyCount,RetweetCount,FollowersCount,date,weekday,Hour_SAST
0,DataScienceDojo,11,Tweet_Photo,0,12,49915,2022-04-22,Friday,4
1,DataScienceDojo,0,Tweet_Photo,0,0,49915,2022-04-22,Friday,3
2,DataScienceDojo,5,Tweet_Photo,0,0,49915,2022-04-22,Friday,2
3,DataScienceDojo,3,Tweet_Photo,0,2,49915,2022-04-21,Thursday,25
4,DataScienceDojo,4,Tweet,0,0,49915,2022-04-21,Thursday,24

In [38]:
df.to_excel('user_Twitter_All_Data12.xlsx',sheet_name='sheet1', index=False)